.announcements-list__item
  = link_to edit_admin_faq_path(faq), class: 'announcements-list__item__title' do
    #{faq_counter + 1}.
    = truncate(faq.question)

  .announcements-list__item__action-bar
    .announcements-list__item__meta
      = faq.answer

    %div
      = table_link_to 'delete', t('admin.faqs.delete'), admin_faq_path(faq), method: :delete, data: { confirm: t('admin.accounts.are_you_sure') } if can?(:destroy, faq)
