- content_for :page_title do
  = t('faqs.edit.title')

= simple_form_for @rule, url: admin_faqs_path(@rule) do |form|
  = render 'shared/error_messages', object: @rule

  = render form

  .actions
    = form.button :button, t('generic.save_changes'), type: :submit
