- content_for :page_title do
  = t('faqs.index.title')

%hr.spacer/

- if can? :create, :faq
  = simple_form_for @faq, url: admin_faqs_path do |form|
    = render 'shared/error_messages', object: @faq

    = render form

    .actions
      = form.button :button, t('faqs.new.title'), type: :submit

  %hr.spacer/

- if @faqs.empty?
  .muted-hint.center-text
    = t 'faqs.index.empty'
- else
  .announcements-list
    = render partial: 'faq', collection: @faqs
