- content_for :page_title do
  = @faq.question

- content_for :heading do
  %h2= t('admin.settings.title')
  = render partial: 'admin/settings/shared/links'
  
%h1= @faq.question
%p= @faq.answer
= link_to 'Back', admin_faqs_path
= link_to 'Edit', edit_admin_faq_path(@faq)
= link_to 'Destroy', admin_faq_path(@faq), method: :delete, data: { confirm: 'Are you sure?' }