- content_for :page_title do
  = @field_value ? @field_value.value : 'Field Value'

  .card.my-3
    .card-body
      %p
        %strong Value:
        = @field_value.value
      %p
        %strong Display Value:
        = @field_value.display_value
      %p
        %strong Description:
        = @field_value.description
      %p
        %strong Default:
        = @field_value.default
      %p
        %strong Order:
        = @field_value.order

  = link_to 'Edit', edit_field_template_admin_field_value_path(@field_template, @field_value), class: 'btn btn-warning'
  |
  = link_to 'Back', admin_field_template_field_value_path(@field_template), class: 'btn btn-secondary'
- else
  .alert.alert-danger Field Value not found.
  = link_to 'Back', admin_field_template_field_value_path(@field_template), class: 'btn btn-secondary'