- content_for :page_title do
  = t('errors.400.title')

- content_for :content do
  = t('errors.400.content')

- content_for :error_code do
  = 400

- content_for :static_image do
  = error_asset_url(t('errors.400.static_image')) unless t('errors.400.static_image').nil?
  = error_asset_url('images/errors/400-static.png') if t('errors.400.static_image').nil?

- content_for :dynamic_image do
  = error_asset_url(t('errors.400.dynamic_image')) unless t('errors.400.dynamic_image').nil?
  = error_asset_url('images/errors/400-dynamic.png') if t('errors.400.dynamic_image').nil?