- content_for :page_title do
  = t('errors.422.title')

- content_for :content do
  = t('errors.422.content')

- content_for :error_code do
  = 422



- content_for :static_image do
  = error_asset_url(t('errors.422.static_image')) unless t('errors.422.static_image').nil?
  = error_asset_url('images/errors/422-static.png') if t('errors.422.static_image').nil?

- content_for :dynamic_image do
  = error_asset_url(t('errors.422.dynamic_image')) unless t('errors.422.dynamic_image').nil?
  = error_asset_url('images/errors/422-dynamic.png') if t('errors.422.dynamic_image').nil?