- content_for :page_title do
  = t('errors.429.title')

- content_for :content do
  = t('errors.429.content')

- content_for :error_code do
  = 429

- content_for :static_image do
  = error_asset_url(t('errors.429.static_image')) unless t('errors.429.static_image').nil?
  = error_asset_url('images/errors/429-static.png') if t('errors.429.static_image').nil?

- content_for :dynamic_image do
  = error_asset_url(t('errors.429.dynamic_image')) unless t('errors.429.dynamic_image').nil?
  = error_asset_url('images/errors/429-dynamic.png') if t('errors.429.dynamic_image').nil?